.idea
.cmake-build-debug
cmake-build-debug
cmake-build-release
cmake-build-debug-android
cmake-build-release-android
*.iml
*.iws
out
cmake-build-*
*.log
*.user
*.swp
*.swo
.DS_Store
*.exe
*.dll
*.so
*.dylib
*.obj
*.o
*.lib
*.a
*.pdb
*.ilk
*.idb
